bleak
deepface
imbalanced-learn==0.12.4
joblib
keras==2.13.1
librosa
matplotlib
mutagen
numpy
opencv-python
pandas
PyQt5
python-vlc
scikit-learn==1.3.2
scipy
seaborn
soundfile
SQLAlchemy
tensorflow==2.13.1
Werkzeug
